<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="jhthApp.bookCopy.home.createOrEditLabel" v-text="$t('jhthApp.bookCopy.home.createOrEditLabel')">Create or edit a BookCopy</h2>
                <div>
                    <div class="form-group" v-if="bookCopy.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="bookCopy.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('jhthApp.bookCopy.signature')" for="book-copy-signature">Signature</label>
                        <input type="text" class="form-control" name="signature" id="book-copy-signature"
                            :class="{'valid': !$v.bookCopy.signature.$invalid, 'invalid': $v.bookCopy.signature.$invalid }" v-model="$v.bookCopy.signature.$model"  required/>
                        <div v-if="$v.bookCopy.signature.$anyDirty && $v.bookCopy.signature.$invalid">
                            <small class="form-text text-danger" v-if="!$v.bookCopy.signature.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('jhthApp.bookCopy.title')" for="book-copy-title">Title</label>
                        <input type="text" class="form-control" name="title" id="book-copy-title"
                            :class="{'valid': !$v.bookCopy.title.$invalid, 'invalid': $v.bookCopy.title.$invalid }" v-model="$v.bookCopy.title.$model"  required/>
                        <div v-if="$v.bookCopy.title.$anyDirty && $v.bookCopy.title.$invalid">
                            <small class="form-text text-danger" v-if="!$v.bookCopy.title.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.bookCopy.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./book-copy-update.component.ts">
</script>
