<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('jhthApp.borrow.home.title')" id="borrow-heading">Borrows</span>
            <router-link :to="{name: 'BorrowCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-borrow">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('jhthApp.borrow.home.createLabel')">
                    Create a new Borrow
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && borrows && borrows.length === 0">
            <span v-text="$t('jhthApp.borrow.home.notFound')">No borrows found</span>
        </div>
        <div class="table-responsive" v-if="borrows && borrows.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('jhthApp.borrow.borrowedAt')">Borrowed At</span></th>
                    <th><span v-text="$t('jhthApp.borrow.bookcopy')">Bookcopy</span></th>
                    <th><span v-text="$t('jhthApp.borrow.user')">User</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="borrow in borrows"
                    :key="borrow.id">
                    <td>
                        <router-link :to="{name: 'BorrowView', params: {borrowId: borrow.id}}">{{borrow.id}}</router-link>
                    </td>
                    <td>{{borrow.borrowedAt}}</td>
                    <td>
                        <div v-if="borrow.bookcopy">
                            <router-link :to="{name: 'BookCopyView', params: {bookCopyId: borrow.bookcopy.id}}">{{borrow.bookcopy.signature}}</router-link>
                        </div>
                    </td>
                    <td>
                        {{borrow.user ? borrow.user.login : ''}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <router-link :to="{name: 'BorrowView', params: {borrowId: borrow.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'BorrowEdit', params: {borrowId: borrow.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(borrow)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="jhthApp.borrow.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-borrow-heading" v-bind:title="$t('jhthApp.borrow.delete.question')">Are you sure you want to delete this Borrow?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-borrow" v-text="$t('entity.action.delete')" v-on:click="removeBorrow()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./borrow.component.ts">
</script>
