<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="jhthApp.borrow.home.createOrEditLabel" v-text="$t('jhthApp.borrow.home.createOrEditLabel')">Create or edit a Borrow</h2>
                <div>
                    <div class="form-group" v-if="borrow.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="borrow.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('jhthApp.borrow.borrowedAt')" for="borrow-borrowedAt">Borrowed At</label>
                        <div class="input-group">
                            <input id="borrow-borrowedAt" type="date" class="form-control" name="borrowedAt"  :class="{'valid': !$v.borrow.borrowedAt.$invalid, 'invalid': $v.borrow.borrowedAt.$invalid }"
                            v-model="$v.borrow.borrowedAt.$model"  required />
                        </div>
                        <div v-if="$v.borrow.borrowedAt.$anyDirty && $v.borrow.borrowedAt.$invalid">
                            <small class="form-text text-danger" v-if="!$v.borrow.borrowedAt.required" v-text="$t('entity.validation.required')">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('jhthApp.borrow.bookcopy')" for="borrow-bookcopy">Bookcopy</label>
                        <select class="form-control" id="borrow-bookcopy" name="bookcopy" v-model="borrow.bookcopy">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="borrow.bookcopy && bookCopyOption.id === borrow.bookcopy.id ? borrow.bookcopy : bookCopyOption" v-for="bookCopyOption in bookCopies" :key="bookCopyOption.id">{{bookCopyOption.signature}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('jhthApp.borrow.user')" for="borrow-user">User</label>
                        <select class="form-control" id="borrow-user" name="user" v-model="borrow.user">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="borrow.user && userOption.id === borrow.user.id ? borrow.user : userOption" v-for="userOption in users" :key="userOption.id">{{userOption.login}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.borrow.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./borrow-update.component.ts">
</script>
