<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="borrow">
                <h2 class="jh-entity-heading"><span v-text="$t('jhthApp.borrow.detail.title')">Borrow</span> {{borrow.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('jhthApp.borrow.borrowedAt')">Borrowed At</span>
                    </dt>
                    <dd>
                        <span>{{borrow.borrowedAt}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('jhthApp.borrow.bookcopy')">Bookcopy</span>
                    </dt>
                    <dd>
                        <div v-if="borrow.bookcopy">
                            <router-link :to="{name: 'BookCopyView', params: {bookcopyId: borrow.bookcopy.id}}">{{borrow.bookcopy.signature}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span v-text="$t('jhthApp.borrow.user')">User</span>
                    </dt>
                    <dd>
                        {{borrow.user ? borrow.user.login : ''}}
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="borrow.id" :to="{name: 'BorrowEdit', params: {borrowId: borrow.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./borrow-details.component.ts">
</script>
